@{
    ViewData["Title"] = "Contact";
    ViewData["Message"] = "Information";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Jacob Murphy<br />
    Rio Rancho, New Mexico<br />
    <abbr title="Phone">P:</abbr>
    505.485.9551
</address>

<address>
    <strong>Support:</strong> <a href="mailto:jacobtmurphy@yahoo.com">JacobTMurphy@yahoo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:jacobtmurphy@yahoo.com">JacobTMurphy@yahoo.com</a>
</address>
