@{
    ViewData["Title"] = "Resume Site";
}

<html>
<body>

    <center><h1>Notes</h1></center>
    <ul>
        <li><a href="E:\NotesWebpage\Notes\Week1Tue.html">Week 1 Tuesday</a>
        <li><a href="E:\NotesWebpage\Notes\Week1Thurs.html">Week 1 Thursday</a>
    </ul>

</body>
</html>
