@model ResumePage.Models.People
@{
    ViewData["Title"] = "Resume Site";
}

<div class="jumbotron">
    <h1>
        <u>
            Resume Website ♦ ♦ ♦
        </u>
    </h1>

</div>

@*<div class="row">
    <button class="btn btn-default col-sm-2 pull-right" data-toggle="collapse" data-target="#Message">Learn More  <i class="glyphicon glyphicon-circle-arrow-down"></i> </button>

    @*<div class="btn-group-vertical col-lg-4 pull-right">
            <a class="btn btn-default" href="">Place</a>
            <a class="btn btn-default" href="">Holder</a>
        </div>*@
@*</div>
<div class="row">
    <div id="Message" class="collapse col-md-4 well pull-right bg-warning">
        <strong>
            This website will display my current resume info, in a style that is easy to access. The code itself will be easy to update and maintain to keep the info up to date.
        </strong>
    </div>
</div>*@
<div class="row text-center">
    <div class="well col-sm-3">
        <a asp-controller="Home" asp-action="About" class="text-success">
            <img src="~/images/User.png" />
            <h4>
                <b>
                    About
                </b>
            </h4>
        </a>
    </div>
    <div class="well col-sm-3">
        <a asp-controller="People" asp-action="Index" class="text-success">
            <img src="~/images/Contact.png" />
            <h4>
                <b>
                    Contact
                </b>
            </h4>
        </a>
    </div>
    <div class="well col-sm-3">
        <a asp-controller="Educations" asp-action="Index" class="text-success">
            <img src="~/images/Education.png" />
            <h4>
                <b>
                    Education
                </b>
            </h4>
        </a>
    </div>
    <div class="well col-sm-3">
        <a asp-controller="Jobs" asp-action="Index" class="text-success">
            <img src="~/images/resolution-05-128.png" />
            <h4>
                <b>
                    Previous Jobs
                </b>
            </h4>
        </a>
    </div>
</div>
<div class="row">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">About</a></li>
        <li><a data-toggle="tab" href="#menu1">Contact</a></li>
        <li><a data-toggle="tab" href="#menu2">Github</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>About-</h3>
            <p>
                <strong>
                    I am a college level student in the process of learning .Net.
                    While the website itself is part of the DeepDive .Net program's regular course material,
                    he has put extra effort in to ensure the website looks professional on a visual level.
                    The website itself is an expo of the skills that were learned during the course,
                    as well as previous knowledge.
                </strong>
            </p>
        </div>
        <div id="menu1" class="tab-pane fade">
            <h3>Contact me-</h3>
            <dl class="dl-horizontal">
                <dd>
                    Name:
                </dd>
                <dt>
                    Murphy, Jacob
                </dt>
                <dd>
                    Email:
                </dd>
                <dt>
                    JacobTMurphy@yahoo.com
                </dt>
                <dd>
                    Phone Number:
                </dd>
                <dt>
                    "505-485-9551"
                </dt>
            </dl>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>My Git-</h3>
            <p>This is the <a href="https://github.com/jmurphy49">GitHub</a> account that I used throughout the c# boot camp to store all my work. 
            All of the demos that we did are located <a href="https://github.com/jmurphy49">here.</a></p>
        </div>
    </div>
</div>